doctype html
html(lang='en')
  include includes/header.jade
  
  body.body
      .panel-group  
          each item in doctors        
            #doc1.panel
              .panel-body
                .docterDetails
                  .doctor
                    img(src='/'+item.image, alt='')
                    span.name= item.title +' '+ item.name
                    br
                    span.post
                      |#{item.post}
                      br
                      |#{item.education}
                      br
                      |#{item.exp}  Years EXP
                .appoinment
                  button.btn.btn-primary.pointer(type='submit') Make Appointment
                .clearfix
                hr
                .locations
                  .left.loc1
                    span.name= item.clinic[0].name
                    br
                    span.addr= item.clinic[0].address
                    .timings
                      .weekday
                        each slot in item.clinic[0].slot        
                          span.left= slot.start 
                            if slot.end == ''
                              = ''
                            else
                              = ' - '+slot.end+':'
                          span.right= slot.time
                          .clearfix
                      .weekend
                        span.left Saturday - Sunday: 
                        span.right &nbsp09:00 AM - 08:00 PM
                      .clearfix
                      p.costs= item.clinic[0].cost + ' INR/hours'
                  .vertical-line
                  hr.locHr
                  .loc2
                    span.name= item.clinic[1].name
                    br
                    span.addr= item.clinic[1].address
                    .timings
                      .weekday
                        each slot in item.clinic[1].slot        
                          span.left= slot.start +' - '+slot.end+':'
                          span.right= slot.time
                          .clearfix
                      .weekend
                        span.left Saturday - Sunday: 
                        span.right &nbsp09:00 AM - 08:00 PM
                      .clearfix
                      p.costs= item.clinic[0].cost + ' INR/hours'
              
  