doctype html
html(lang='en')
  include includes/header.jade
  link(href='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.2.0/nouislider.min.css', rel='stylesheet')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.2.0/nouislider.min.js")  
  link(href='/css/slider.css', rel='stylesheet')

  body.body
    //- #{doctors}
    //- each item in doctors
    //-   li=item.title +' '+ item.name
    //-   span= item.clinic[0].name   
    
    include includes/top-menu.jade
    .container
      .searchResult
        span Physicians Nearby
        span.resultCount
          b= doctors.length
          |  Results Found
      .clearfix
      hr.divider
      #divSearch
        form#formSearch
          span
            input#ipSearch.form-input(type='text', name='search', value='', placeholder='Find Dentists/Clinic')
            button#btnSearch.btn.pointer(type='submit') Search 
        #divSortBy(action='search.html', method='get')
          | Sort by:
          select#ddlSortBy
            option(value='Popularity') Popularity
            option(value='Availability') Availability
            option(value='Cost') Cost
            option(value='Recomendations') Recomendations
        .filterIcons
          img#imgSearch(src='/images/icons/search.svg', alt='Search')
          img#imgSort(src='/images/icons/sort.svg', alt='Sort')
          img#imgFilter(src='/images/icons/filter.svg', alt='Filter')
      .clearfix
      .contentContainer
        .sideMenuGroup
          #divServices.sideMenu
            p Services
            input#ipServices(type='text', name='Services')
            input.button.pointer(type='submit', value='')
            hr.sideHr
            .checkboxGroup
              span.spanCheckbox
                input#service1.ipCheckbox.service(type='checkbox', name='service', value='service1')
                label.first(for='service1', style='margin-top: 0px;')
                  span Services One
              br
              span.spanCheckbox
                input#service2.ipCheckbox.service(type='checkbox', name='service', value='service2')
                label(for='service2')
                  span Services Two
              br
              span.spanCheckbox
                input#service3.ipCheckbox.service(type='checkbox', name='service', value='service2')
                label(for='service3')
                  span Services Three
              br
              span.spanCheckbox
                input#service4.ipCheckbox.service(type='checkbox', name='service', value='service2')
                label(for='service4')
                  span Services Two
              br
              span.spanCheckbox
                input#service5.ipCheckbox.service(type='checkbox', name='service', value='service2')
                label(for='service5')
                  span Services Two
              br
              span.spanCheckbox
                input#service6.ipCheckbox.service(type='checkbox', name='service', value='service2')
                label(for='service6')
                  span Services Two
              br
              span.spanCheckbox
                input#service7.ipCheckbox.service(type='checkbox', name='service', value='service2')
                label(for='service7')
                  span Services Two
              br
              span.spanCheckbox
                input#service8.ipCheckbox.service(type='checkbox', name='service', value='service2')
                label(for='service8')
                  span Services Two
              br
              span.spanCheckbox
                input#service9.ipCheckbox.service(type='checkbox', name='service', value='service2')
                label(for='service9')
                  span Services Two
          .clearfix
          #divWeekday.sideMenu
            p Availability
            .slider
              .sliders              
            br
            hr.sideHr
            .checkboxGroup
              span.spanCheckbox
                input#Monday.ipCheckbox.inputDay(type='checkbox', name='days', value='Monday')
                label#Mondaylbl(for='Monday')
                  span Monday
              br
              span.spanCheckbox
                input#Tuesday.ipCheckbox.inputDay(type='checkbox', name='days', value='Tuesday')
                label#Tuesdaylbl(for='Tuesday')
                  span Tuesday
              br
              span.spanCheckbox
                input#Wednesday.ipCheckbox.inputDay(type='checkbox', name='days', value='Wednesday')
                label#Wednesdaylbl(for='Wednesday')
                  span Wednesday
              br
              span.spanCheckbox
                input#Thursday.ipCheckbox.inputDay(type='checkbox', name='days', value='Thursday')
                label#Thursdaylbl(for='Thursday')
                  span Thursday
              br
              span.spanCheckbox
                input#Friday.ipCheckbox.inputDay(type='checkbox', name='days', value='Friday')
                label#Fridaylbl(for='Friday')
                  span Friday
              br
              span.spanCheckbox
                input#Saturday.ipCheckbox.inputDay(type='checkbox', name='days', value='Saturday')
                label#Saturdaylbl(for='Saturday')
                  span Saturday
              br
              span.spanCheckbox
                input#Sunday.ipCheckbox.inputDay(type='checkbox', name='days', value='Sunday')
                label#Sundaylbl(for='Sunday')
                  span Sunday
              br
          .clearfix
          #divFees.sideMenu
            p Fees
            hr.sideHr
            .checkboxGroup
              span.spanCheckbox
                input#slab1.ipCheckbox.inputFee(type='checkbox', name='slabs', value='slab1')
                label#slab1lbl(for='slab1') 
                  span Free - 100
              br
              span.spanCheckbox
                input#slab2.ipCheckbox.inputFee(type='checkbox', name='slabs', value='slab2')
                label#slab2lbl(for='slab2')
                  span 100 - 250
              br
              span.spanCheckbox
                input#slab3.ipCheckbox.inputFee(type='checkbox', name='slabs', value='slab3')
                label#slab3lbl(for='slab3')
                  span 250 - 500
              br
              span.spanCheckbox
                input#slab4.ipCheckbox.inputFee(type='checkbox', name='slabs', value='slab4')
                label#slab4lbl(for='slab4')
                  span 500 - 1000
              br
              span.spanCheckbox
                input#slab5.ipCheckbox.inputFee(type='checkbox', name='slabs', value='slab5')
                label#slab5lbl(for='slab5')
                  span 1000 - 1500
              br
              span.spanCheckbox
                input#slab6.ipCheckbox.inputFee(type='checkbox', name='slabs', value='slab6')
                label#slab6lbl(for='slab6')
                  span 1500 - 2000
              br
              span.spanCheckbox
                input#slab7.ipCheckbox.inputFee(type='checkbox', name='slabs', value='slab7')
                label#slab7lbl(for='slab7')
                  span 2000 - 2500
              br
        #results.panel-group 
          each item in doctors        
            #doc1.panel
              .panel-body
                .docterDetails
                  .doctor
                    img(src='/'+item.image, alt='')
                    span.name= item.title +' '+ item.name
                    br
                    span.post
                      |#{item.post}
                      br
                      |#{item.education}
                      br
                      |#{item.exp}  Years EXP
                .appoinment
                  button.btn.btn-primary.pointer(type='submit') Make Appointment
                .clearfix
                hr
                .locations
                  .left.loc1
                    span.name= item.clinic[0].name
                    br
                    span.addr= item.clinic[0].address
                    .timings
                      .weekday
                        span.left Monday - Friday: 
                        span.right 09:00 AM - 08:00 PM
                      .weekend
                        span.left Saturday - Sunday: 
                        span.right &nbsp09:00 AM - 08:00 PM
                      .clearfix
                      p.costs= item.clinic[0].cost + ' INR/hours'
                  .vertical-line
                  hr.locHr
                  .loc2
                    span.name= item.clinic[1].name
                    br
                    span.addr= item.clinic[1].address
                    .timings
                      .weekday
                        span.left Monday - Friday: 
                        span.right 09:00 AM - 08:00 PM
                      .weekend
                        span.left Saturday - Sunday: 
                        span.right &nbsp09:00 AM - 08:00 PM
                      .clearfix
                      p.costs= item.clinic[0].cost + ' INR/hours'
              
    script(src='/js/search.js')
    include includes/footer.jade
    
